@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

.cabecalho {
    position: relative;
    height: 250px;
    border-bottom: 2px solid #84490f;
    background: linear-gradient(360deg, #d2b48c, #deb887, #f5deb3);
}

.logo {
    margin-left: 5rem;
}

.imgheader {
    width: 100%;
    height: 230px;
}

.logo .padaria {
    width: 200px;
    border-radius: 50%;
}

.tituloprincipal {
    margin-left: 2rem;
    font-family: "Nunito", sans-serif;
    font-weight: 900;
    font-size: 20px;
    color: #84490f;
}

.superior {
    position: absolute;
    display: flex;
    align-items: center;
    top: 30px;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.navbar {
    flex-grow: 1;
}

.lista {
    display: flex;
    list-style: none;
    justify-content: end;
    margin-right: 7rem;
}

.item {
    border: 1px solid #84490f;
    border-radius: 10px;
    margin-left: 3rem;
    padding: 8px 0;
}

.item:hover {
    background-color: #84490f;
}

.lista__ancora {
    text-decoration: none;
    color: #84490f;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    padding: 15px 25px;
}

.lista a:hover {
    color: white;
}

.subtitulo {
    font-family: "Nunito", sans-serif;
    text-align: center;
    font-size: 25px;
    color: #84490f;
    margin-top: 2rem;
}

.informacoes {
    display: flex;
    width: 90%;
    margin: 0 auto;
}

.card {
    flex: 30%;
    text-align: center;
    margin: 2rem;
    border: 2px solid black;
    border-radius: 15px;
    padding: 15px 0;
}

.card:nth-child(3n + 1) {
    margin-left: 0;
}

.card:nth-child(3n) {
    margin-right: 0;
}

.card p {
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    margin-top: 1rem;
}

.card:hover {
    cursor: pointer;
}

.card:active {
    border: 5px solid #84490f;
}

.card:active p {
    color: #84490f;
    font-weight: bold;
}

.dados {
    display: flex;
    width: 90%;
    margin: 0 auto;
    height: auto;
}

.dados-img {
    flex: 58%;
    margin-right: 1rem;
}

.informacoes2 {
    flex: 48%;
    margin-left: 1rem;
    text-align: center;
    align-self: center;
    font-family: "Nunito", sans-serif;
}

.informacoes2 h3 {
    font-size: 35px;
    margin-bottom: 3rem;
    color: #84490f;
}

.informacoes2 p {
    line-height: 2rem;
}

.mapa {
    width: 90%;
    margin: 1rem auto;
}

.mapa h3 {
    font-family: "Nunito", sans-serif;
    margin: 2rem 0 1rem 0;
    font-size: 30px;
    color: #84490f;
}

iframe {
    width: 100%;
}

.rodape {
    background-image: linear-gradient(lightgray, darkgray, gray);
    border-top: 2px solid #84490f;
}

.redessociais {
    text-align: center;
    padding: 2.5rem;
}

.redessociais p {
    font-family: "Nunito", sans-serif;
    font-size: 30px;
    color: #84490f;
    font-weight: bold;
    margin: 2rem;
}

.redessociais img {
    width: 40px;
    margin: 1rem 5rem;
    text-align: center;
}

.botao {
    position: fixed;
    bottom: 1rem;
    right: 0.5rem;
    text-align: center;
    font-family: "Nunito", sans-serif;
    font-size: 15px;
}

@media only screen and (max-width: 1350px) {
    .cabecalho {
        height: 350px;
    }

    .logo {
        margin: 0%;
    }

    .superior {
        flex-direction: column;
        justify-items: center;
    }

    .tituloprincipal {
        margin: 0%;
    }

    .lista {
        margin: 0%;
    }

    .item {
        margin: 1rem 1rem;
    }
}

@media only screen and (max-width: 885px) {
    .cabecalho {
        height: 450px;
    }

    .superior {
        margin: 0% auto;
    }

    .superior h1 {
        text-align: center;
        margin: 0 auto;
        font-size: 30px;
    }

    .item {
        margin: 0.5rem;
    }

    .logo {
        width: 100%;
        margin: 0% auto;
        text-align: center;
    }

    .lista {
        flex-direction: column;
        margin: 0%;
        text-align: center;
    }

    .conteudo-principal {
        margin: 0% auto;
    }

    .informacoes {
        flex-direction: column;
        margin: 0% auto;
        margin-bottom: 1rem;
    }

    .informacoes2 {
        margin: 0 auto;
    }

    .informacoes2 h3 {
        margin-bottom: 1rem;
    }

    .card {
        margin: 1rem 0%;
    }

    .dados-img {
        display: none;
    }

    .mapa h3 {
        text-align: center;
    }

    .redes img {
        margin: 0 1rem;
    }

    .redes {
        display: inline-flex;
        margin: 0%;
    }

    .botao {
        display: none;
    }
}
